<% unless @user_tasks.empty? %>
  <h2>Your tasks</h2>
  <div class="row">
    <% @user_tasks.each do |task| -%>

      <%= render partial: 'task_card', locals: { task: task } %>

    <% end -%>
  </div>
<% end %>

<% unless @unclaimed_tasks.empty? %>
  <h2>Tasks not claimed</h2>
  <div class="row">
    <% @unclaimed_tasks.each do |task| -%>

      <%= render partial: 'task_card', locals: { task: task } %>

    <% end -%>
  </div>
<% end %>

<% unless @home_tasks.empty? %>
  <h2>Tasks already claimed</h2>
    <div class="row">
      <% @home_tasks.each do |task| -%>

      <%= render partial: 'task_card', locals: { task: task } %>
      
    <% end %>
  </ul>
<% end %>
