@import bootstrap
@import font-awesome

// main palette
$modern_green: #4ABC96
$modern-white: #FEFFFC
$modern-yellow: #FCF372

// functional descriptions
$bg_alpha: 0.85
$bg_main_color: rgba($modern_green, $bg_alpha)
$logo_color: rgba($modern-yellow, .95)

body
  background-color: $modern-white !important

#main-container
  margin-top: 65px

.navbar
  background-color: $bg_main_color

.brand-logo
  color: $logo_color