@import bootstrap
@import font-awesome

// main palette
$modern_green: #4ABC96
$modern-white: #FEFFFC
$modern-yellow: #FCF372

// functional descriptions
$bg_alpha: 0.85
$bg_main_color: rgba($modern_green, $bg_alpha)
$gold_color: rgba($modern-yellow, .90)

html
  position: relative
  min-height: 100%

body
  background-color: $modern-white
  margin-bottom: 60px

// Header

.navbar
  background-color: $bg_main_color
  height: 3.8rem

.brand-logo
  color: $gold_color

.fa-trophy
  @media (max-width: 767px)
    font-size: 2rem

#main-container
  margin-top: 2%

.navbar-text
  padding-top: .8rem
  line-height: 1.5rem
  width: 120px
  position: absolute
  left: 40%
  z-index: 1

.points-badge
  line-height: 2rem
  padding-top: 1rem
  small
    position: absolute
    width: 3rem
    height: 3rem
    text-align: center
    background: url(badge2.svg) no-repeat top center
    background-origin: border-box

// Forms

h2
  text-align: center
  margin-bottom: 1rem

.custom-control-indicator, .custom-control-description
  margin-left: .4rem
  padding-left: .2rem

.col-form-label
  text-align: right

.days-since
  padding-top: 7px
  padding-left: 5px

// Cards

.card-header, .card-footer
  background-color: rgba($modern-white, .80)
  h5
    margin-bottom: 0

.room-background
  background-size: contain
  background-position: center center
  background-repeat: no-repeat

.bathroom
  background-image: url('./rooms/bathroom.png')
  @extend .room-background

.kitchen
  background-image: url('./rooms/kitchen.png')
  @extend .room-background

.bedroom
  background-image: url('./rooms/bedroom.png')
  @extend .room-background

.dining-room
  background-image: url('./rooms/dining-groom.png')
  @extend .room-background

.hallway
  background-image: url('./rooms/hallway.png')
  @extend .room-background

.laundry-room
  background-image: url('./rooms/laundry-room.png')
  @extend .room-background

.living-room
  background-image: url('./rooms/living-room.png')
  @extend .room-background

.task-points
  background-color: $modern-yellow
  border: solid .2rem $bg_main_color
  display: inline-block
  width: 1.8rem
  height: 1.8rem
  text-align: center
  vertical-align: middlee
  background-origin: border-box

.task-action
  background-color: $modern-yellow
  border: solid .4rem $bg_main_color
  padding: 1rem
  position: relative
  width: 30%
  height: 30%
  margin: 1.5rem auto

.card-footer .btn
  width: 40%

// Footer

.footer
  position: absolute
  text-align: center
  bottom: 0
  width: 100%
  height: 60px
  line-height: 60px
  background-color: $bg_main_color

